<p id="notice"><%= notice %></p>

<p>
  <strong>Idnum:</strong>
  <%= @student.idNum %>
</p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Section:</strong>
  <%= @student.section %>
</p>

<ul>
  <% @section.students.each do |student| %>
    <li> <%= student.name %> </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
